/* Buttons. */
#undo {
    -fx-background-image: url("images/icon_undo.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#redo {
    -fx-background-image: url("images/icon_redo.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#redo:pressed {
    -fx-background-color: #858585;
}

#undo:pressed {
    -fx-background-color: #858585;
}

/* Toggle Buttons */

#pencil {
    -fx-background-image: url("images/icon_pencil.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#eraser {
    -fx-background-image: url("images/icon_eraser.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#fillColor {
    -fx-background-image: url("images/icon_fillColor.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#insertText {
    -fx-background-image: url("images/icon_text.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#straightLine {
    -fx-background-image: url("images/icon_line.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#rectangle {
    -fx-background-image: url("images/icon_rectangular.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#circle {
    -fx-background-image: url("images/icon_circle.png");
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#pencil:selected {
    -fx-background-color: #858585;
}

#eraser:selected {
    -fx-background-color: #858585;
}

#fillColor:selected {
    -fx-background-color: #858585;
}

#insertText:selected {
    -fx-background-color: #858585;
}

#straightLine:selected {
    -fx-background-color: #858585;
}

#rectangle:selected {
    -fx-background-color: #858585;
}

#circle:selected {
    -fx-background-color: #858585;
}

/* Miscellaneous */
.VBox {
    -fx-padding: 10;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: #0000ff;
}
